#contact{
    &-a{
        .form-fields{
            display: grid;
            grid-template-areas: 
            'name email'
            'subject phone'
            'message message'
            'button button';
            gap: 1rem;
            margin-bottom: 1rem;

            .name{
                grid-area: name;
            }
            .email{
                grid-area: email;
            }
            .subject{
                grid-area: subject;
            }
            .phone{
                grid-area: phone;
            }
            .message{
                grid-area: message;
                height: 180px;

                .input {
                    height: 180px;
                }
            }
            .btn-dark{
                grid-area: button;
            }

            .input{
                padding: .5rem 1rem;
                display: block;
                width: 100%;
            }

            
        }

        .alert-message{
            
            padding: 10px 15px;
            border-radius: 5px;
            margin-top: 15px;
            text-align: center;
            font-size: 14px;
            display: none;
            
        }
        .alert-message.success{
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }
        .alert-message.error{
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }
    }

    &-b{

        color: azure;

        .contact-info{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
        }
    }
}